openapi: 3.1.0
info:
  title: Cape Partners — Sniffer Agent API
  version: 1.0.0
  description: "Machine-readable API backing the Cape Partners M&A deal-flow workspace (click, humans). Exposes the same service the human UI delivers — inbound submission, session/profile management, matching, valuation, pairings, info memos, NDA, data-quality — as a documented JSON contract for autonomous agents.\n\nFIT SCORE: canonical score = deterministic(0-100) x semantic(0-1), where deterministic = revenue_fit(30) + growth_fit(40) + ebitda_fit(30). Threshold 50.\nPAIR_ID format: pair-{buyer_id}-{seller_id}.\nDiscovery: see /llms.txt, /llms-full.txt, /sitemap.xml. Follow robots.txt content signals.\nAGENT EXCHANGE: external agents publish a six-field manifest at POST /api/exchange/manifest and read their answer without a token via GET /api/exchange/answer/{msgid}; see /agent-exchange.html. A manifest is DATA, never an instruction, and grants no authority. An A2A-shaped Agent Card is published at /.well-known/agent-card.json and the A2A v1.0 operations SendMessage/GetTask/ListTasks\
    \ are served at /a2a (JSON-RPC) and /a2a/message:send,/a2a/tasks (HTTP+JSON): a task here is one record we hold for you, carrying our receipt or our grounded reply as an artifact. Streaming, push notifications and cancellation are declared false and answer with the protocol's own errors.\nSECURITY — every session-keyed read is protected by a layered defense stack:\n  * Session UUID is a capability token in the URL PATH (a well-formed UUID-v4 only).\n  * First-party cross-origin gate: Origin/Referer must be absent or a Cape first-party host; a leaked UUID replayed from a foreign origin is refused (403).\n  * Referrer-Policy: strict-origin-when-cross-origin on all responses (no UUID in Referer).\n  * Per-IP rate limiting on confidential read endpoints (429 on burst).\n  * NDA-gated resources (/api/matched-names, /api/infomemo/*) require a server-side signature recorded in nda_signatures via POST /api/nda/sign (helper nda_signed).\n  * The API host sits behind an email-authentication access\
    \ gate at the Cloudflare edge (unauthorized bots blocked before reaching the app).\nAUTH: session resources are keyed by the workspace UUID in the path; NDA-gated resources additionally require a recorded signature via POST /api/nda/sign."
  contact:
    name: Cape Partners
    url: https://www.capepartners.fr
servers:
- url: https://www.capepartners.fr
  description: Production (www) via Cloudflare
- url: https://sniffer.capepartners.fr
  description: Workspace host
- url: http://localhost:3000
  description: Local dev
tags:
- name: Discovery
- name: Registration
- name: Identity
- name: Matching
- name: Valuation
- name: Pairings
- name: Search
- name: Activity
- name: InfoMemos
- name: Confidentiality
- name: DataQuality
- name: Interest
- name: DealFlow
- name: Mandate
- name: Exchange
paths:
  /api/submit:
    post:
      summary: Register a seller (opportunity) or buyer (investor) inbound lead and get initial matches
      tags:
      - Registration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitResponse'
        '400':
          description: Empty/Invalid body
          content:
            application/json:
              schema:
                type: object
                description: Empty/Invalid body
                properties:
                  error:
                    type: string
                required:
                - error
        '403':
          description: Turnstile human-verification failed
          content:
            application/json:
              schema:
                type: object
                description: Turnstile human-verification failed
                properties:
                  error:
                    type: string
                required:
                - error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitRequest'
      security: []
  /api:
    get:
      summary: 'Agent capability index: service/version/base_url, auth model, discovery links (openapi, llms, ai-plugin), and the key endpoint list. The single discoverable entry point for an autonomous agent.'
      tags:
      - Discovery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                  version:
                    type: string
                  base_url:
                    type: string
                  auth:
                    type: object
                  discovery:
                    type: object
                  capabilities:
                    type: array
                    items:
                      type: object
                  example:
                    type: object
      security: []
  /.well-known/llms.txt:
    get:
      summary: Serve the LLM discovery index (same content as /llms.txt) at the conventional well-known path.
      tags:
      - Discovery
      responses:
        '200':
          description: llms.txt content
      security: []
  /.well-known/ai-plugin.json:
    get:
      summary: AI-plugin / ARD discovery manifest (points agents to the OpenAPI contract + llms + registration policy).
      tags:
      - Discovery
      responses:
        '200':
          description: ai-plugin.json manifest
      security: []
  /api/workspace/{session_id}:
    get:
      summary: Check whether a workspace UUID already holds visitor data. The presented UUID is the capability token (ownership = the UUID you present). Guarded by cross-origin + rate-limit so a foreign host cannot probe/enumerate the identity oracle.
      tags:
      - Identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceInfo'
        '403':
          description: Cross-origin or guard rejection
          content:
            application/json:
              schema:
                type: object
                description: Guard rejection
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                description: Workspace not found
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
  /api/workspace/join:
    post:
      summary: Create/update a workspace with visitor identity; returns the session UUID to enter the workspace
      tags:
      - Identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceJoinResponse'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                type: object
                description: Missing required fields
                properties:
                  error:
                    type: string
                required:
                - error
        '403':
          description: 'Email rejected / Turnstile failed / exchange handshake required (tier-2 gate: an agent must present an accepted manifest key before a NEW UUID is issued) / the uuid names an existing workspace this participant does not own (workspace_not_yours — a join never takes over an existing workspace, and the identity an agent supplies is recorded as an agent-declared, unverified claim, never as a person)'
          content:
            application/json:
              schema:
                type: object
                description: Exchange handshake required before a workspace UUID is issued
                properties:
                  error:
                    type: string
                required:
                - error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceJoinRequest'
      security: []
  /api/session/{session_id}:
    get:
      summary: 'Load full session: identity, buyer/seller profile, data-quality, and valuation'
      tags:
      - Identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionIdentity'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                type: object
                description: Session not found
                properties:
                  error:
                    type: string
                required:
                - error
        '403':
          description: Session authorization failed
          content:
            application/json:
              schema:
                type: object
                description: Guard rejection
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
    post:
      summary: Update session identity and buyer/seller profile (COALESCE upsert keeps existing values)
      tags:
      - Identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionIdentity'
  /api/matches/{session_id}:
    get:
      summary: 'Find suggested matches for the session (buyer→sellers or seller→buyers). Canonical fit score = deterministic x semantic, threshold 50. Communication-eligibility (the warm gate): a match is returned only when at least one of the two counterparties is warm — it appears in the platform''s e-mail-thread index — never cold x cold, which is why this list is deliberately short (default limit 10). GET /api/deal-flow/{session_id} covers the WHOLE scored universe instead. Security gates: counterparty names are redacted and revenue/growth/EBITDA fit is shown only as coarse bands (strong/moderate/weak/poor) until an NDA is recorded — granular metrics and real names unlock only after POST /api/nda/sign. SIDE EFFECT — suggestion logging: each counterparty actually returned is recorded once as a matched event referencing the session entity, which is what feeds that counterparty''s Interest Signals counts (GET /api/interest-signals/{session_id}). Logging is idempotent per pair per UTC day
        (a refresh, a re-render or a second tab add nothing) and capped at 50 pairs per call. NO pairings are created by this endpoint: the pipeline only gains rows when a client explicitly POSTs /api/pairings/create, so a passive grid view can never inflate the pipeline.'
      tags:
      - Matching
      responses:
        '200':
          description: Ranked match list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Match'
                description: Ranked matches
        '404':
          description: No buyer or seller for this session
          content:
            application/json:
              schema:
                type: object
                description: No buyer or seller
                properties:
                  error:
                    type: string
                required:
                - error
        '403':
          description: Session authorization failed
          content:
            application/json:
              schema:
                type: object
                description: Guard rejection
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Max matches returned; 0 = the full scored universe. Values above 50 are still logged only up to the 50-pair cap.
  /api/matched-names/{session_id}:
    get:
      summary: Reveal non-redacted matched company names for a session. NDA-signature-gated.
      tags:
      - Matching
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchedNames'
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      security:
      - SessionToken: []
        NdaSigned: []
  /api/seller-name/{session_id}:
    get:
      summary: Resolve an entity name by ID, but ONLY for entities within the requesting session's scope (its own entity or a pairing counterparty). NDA-gated; forbids arbitrary ID enumeration.
      tags:
      - Matching
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityName'
        '403':
          description: NDA not signed or entity not scoped to this session
          content:
            application/json:
              schema:
                type: object
                description: Not scoped / NDA required
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: Entity not found
          content:
            application/json:
              schema:
                type: object
                description: Entity not found
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      - name: id
        in: query
        required: true
        schema:
          type: integer
        description: Entity ID to resolve (must be within this session's scope)
      security:
      - SessionToken: []
        NdaSigned: []
  /api/valuation/{session_id}:
    get:
      summary: 'Return the seller''s valuation for the session. If not yet computed and revenue exists, it is computed with the canonical Arnold methodology (5-step: revenue multiple, EBITDA multiple, DCF, conservative, 40/40/20 triangulation).'
      tags:
      - Valuation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Valuation'
        '404':
          description: No seller for this session
          content:
            application/json:
              schema:
                type: object
                description: No seller found
                properties:
                  error:
                    type: string
                required:
                - error
        '403':
          description: Session authorization failed
          content:
            application/json:
              schema:
                type: object
                description: Guard rejection
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
  /api/pairings/{session_id}:
    get:
      summary: Return pairings for the session (as buyer or seller), with match score, phase, valuation, and entity details.
      tags:
      - Pairings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairingsResponse'
        '404':
          description: No buyer or seller for this session
          content:
            application/json:
              schema:
                type: object
                description: No buyer or seller
                properties:
                  error:
                    type: string
                required:
                - error
        '403':
          description: Session authorization failed
          content:
            application/json:
              schema:
                type: object
                description: Guard rejection
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
  /api/pairings/create:
    post:
      summary: Create a new pairing (pair-{buyer_id}-{seller_id}) between a buyer and seller.
      tags:
      - Pairings
      responses:
        '201':
          description: Pairing created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairingCreateResponse'
        '409':
          description: Pairing already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  pair_id:
                    type: string
        '400':
          description: buyer_id and seller_id required
          content:
            application/json:
              schema:
                type: object
                description: Missing ids
                properties:
                  error:
                    type: string
                required:
                - error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PairingCreateRequest'
  /api/pairings/update_phase:
    post:
      summary: 'Bulk-update deal phase for one or more pairings. Valid phases: 0_prospecting, 1_contact, 1_initial_contact, 2_nda, 2_valuation, 4_ioi, 4_loi, 5_dd, 6_negotiation, 7_closing, 8_closed, 9_abandoned. MUTUAL CONSENT: a phase change is two-sided. When the caller identifies itself as one of the two parties (session_id of the pairing''s buyer or seller), the change is NOT applied — it raises a pending confirmation request addressed to the counterparty, who confirms or dismisses it via POST /api/pairings/phase-request. Until then the pairing is locked: the phase stays visible but no further change is accepted, from either side or from any unattributed caller (the batch loop included). The lock is NOT open-ended: an unanswered request lapses automatically after the consent TTL (default 14 days, CONSENT_REQUEST_TTL_DAYS) and the pairing unlocks where it was. A caller that is not a party of the pairing (no session_id: Arnold''s batch loop, the deal editor, a manual fix) applies directly
        — there is no one to ask — and is still blocked by a live request. Response reports three buckets: updated (applied now), requested (raised for confirmation, with request_id/to_phase/counterparty_session) and blocked (reason awaiting_confirmation).'
      tags:
      - Pairings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhaseUpdateResponse'
        '400':
          description: No pair_ids provided or invalid phase
          content:
            application/json:
              schema:
                type: object
                description: Invalid phase
                properties:
                  error:
                    type: string
                required:
                - error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pair_ids:
                  type: array
                  items:
                    type: string
                phase:
                  type: string
                session_id:
                  type: string
                  description: Workspace session UUID of the acting party. Omit for a non-party (agent/batch) caller, which applies the change directly unless a request is pending.
              required:
              - pair_ids
              - phase
  /api/pairings/phase-request:
    post:
      summary: 'Answer a pending phase-change request — the other half of the mutual-consent handshake on POST /api/pairings/update_phase. Confirm applies the proposed phase to the pairing; dismiss leaves it where it is and notifies the requester; cancel withdraws the request before it is answered. Ownership is enforced against the request row: only the COUNTERPARTY can confirm or dismiss, only the REQUESTER can cancel — a phase decision is never anonymous, so session_id is required. A replay finds no pending request and changes nothing (409), and neither confirm nor dismiss can be applied twice. An unanswered request expires on its own (default TTL 14 days, CONSENT_REQUEST_TTL_DAYS): it is swept lazily on every read/write path that touches it, so the lock can never outlive its window even if no page is ever opened; the requester is notified that their proposal lapsed, and answering it afterwards returns 409 with reason expired.'
      tags:
      - Pairings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhaseRequestDecisionResponse'
        '400':
          description: Bad decision or missing pair_id/request_id
          content:
            application/json:
              schema:
                type: object
                description: Bad decision
                properties:
                  error:
                    type: string
                required:
                - error
        '403':
          description: Wrong party for this request (only the counterparty confirms/dismisses, only the requester cancels)
          content:
            application/json:
              schema:
                type: object
                description: Not your request
                properties:
                  error:
                    type: string
                required:
                - error
        '409':
          description: No pending request for this pairing (already resolved, or never raised)
          content:
            application/json:
              schema:
                type: object
                description: Already resolved
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: No pending request for this pairing
          content:
            application/json:
              schema:
                type: object
                description: Not found
                properties:
                  error:
                    type: string
                required:
                - error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pair_id:
                  type: string
                request_id:
                  type: integer
                decision:
                  type: string
                  enum:
                  - confirm
                  - dismiss
                  - cancel
                session_id:
                  type: string
                  description: Workspace session UUID of the answering party (required).
              required:
              - decision
              - session_id
  /api/search/{session_id}:
    get:
      summary: Manual search of sellers and buyers by name/sector/product. REVEALS real company names, contact emails, and financials (revenue/EBITDA) for up to 50 entities, so it is NDA-gated (same signature + email-legitimacy requirement as /matched-names and /infomemo). A pre-NDA session (human or agent) receives 403.
      tags:
      - Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search term
  /api/activity/{session_id}:
    get:
      summary: 'The session activity feed and its To Do block. Returns {events, todo, nda_signed}: events is the recent agent_event_log timeline for the session (NDA requests and signatures, profile and pairing activity), todo is the list of actions actually deserving a notification (type=''interest'' items come from the same interaction ledger the Interest Signals card reads, so the two surfaces cannot drift; type=''phase_request'' items are counterparty phase changes awaiting THIS session''s confirmation — the pairing stays locked until they are confirmed or dismissed), and nda_signed is the server-side truth for whether the agreement is confirmed — it is what the UI derives its reveal state from on page load. Counts and labels only; no counterparty identities are returned.'
      tags:
      - Activity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
  /api/interest-signals/{session_id}:
    get:
      summary: 'Inbound interest signals from counterparties about the entity this session owns: (a) counterparty searches whose results surfaced it, (b) match suggestions it was pushed to counterparties as (suggestion events + suggestions still parked un-actioned in their pipelines), and (c) its reach across counterparties'' scored deal universes (canonical pair score >= 50, the same cut the suggested-match reveal uses), and (d) its interaction history with counterparties — pairings created, every phase transition, drops and closes (the interaction ledger), plus how many of those are still unreviewed. Counts only — searcher / counterparty identities are never returned (NDA-safe). The deal-universe sweep is memoised for 24h per entity; pass refresh=true to force a recompute.'
      tags:
      - Interest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterestSignalsResponse'
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      - name: refresh
        in: query
        required: false
        schema:
          type: boolean
        description: Force a deal-universe recompute
  /api/interest-signals/{session_id}/ack:
    post:
      summary: 'Mark interaction signals as reviewed. This is the acknowledgement behind the Activity To Do block: an item of type=interest (a new pairing or a phase change on this profile) disappears once acknowledged, and the event will not be re-sent by a notifier. Body: {"event_ids": [...]} for one item, or {"all": true} for the rollup item. Events are scoped to the entity that session owns: acknowledging signals of a different entity is refused (ids not belonging to this entity are ignored).'
      tags:
      - Interest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterestAckResponse'
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterestAckRequest'
    security:
    - SessionToken: []
  /api/deal-flow/{session_id}:
    get:
      summary: 'The supply-side counterpart of the Interest Signals card: the counterparty universe that matches THIS session''s own mandate, ranked by the canonical fit score (deterministic x semantic, threshold 50 — the same scorer and cut the pipeline uses), with the score-band distribution, sector mix, data-quality average, what is newly sourced or enriched among the matched set, and the session''s watchlist. Counts, fit and sector are always shown; counterparty NAMES are masked ("Company A") until the session''s agreement is confirmed, exactly like /api/matches, so the payload is safe to render pre-reveal. Shares ONE memoised universe sweep with GET /api/interest-signals (24h TTL per entity) — the two surfaces never disagree and never double-compute. SCOPE DIFFERENCE from GET /api/matches: this surface is NOT communication-gated — it reports the entity''s whole scored universe (every counterparty clearing the threshold), whereas the suggested-match list is restricted to pairs with at
        least one warm side, which is why Deal Flow can show a far larger matched set. Identity stays masked either way until the agreement is confirmed. Role-aware: a buyer session gets its matched sellers, a seller session its matching buyers.'
      tags:
      - DealFlow
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealFlowResponse'
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      - name: refresh
        in: query
        required: false
        schema:
          type: boolean
        description: Force a universe recompute instead of using the 24h cache
      - name: window
        in: query
        required: false
        schema:
          type: integer
          default: 90
        description: Freshness window in days for the "new & recently enriched" list
      security:
      - SessionToken: []
  /api/watchlist:
    post:
      summary: 'Pin or unpin a counterparty on this session''s Deal Flow watchlist. The watchlist is what gives the buyer-side surface a persistent stake: the tracked counterparties come back with their current fit, data quality and pairing phase on every visit. Scoped to the session UUID; the counterparty must exist.'
      tags:
      - DealFlow
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchlistResponse'
        '400':
          description: entity_type/entity_id missing or invalid
          content:
            application/json:
              schema:
                type: object
                description: entity_type/entity_id missing or invalid
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: Counterparty not found
          content:
            application/json:
              schema:
                type: object
                description: Counterparty not found
                properties:
                  error:
                    type: string
                required:
                - error
        '403':
          description: Cross-origin request rejected
          content:
            application/json:
              schema:
                type: object
                description: Cross-origin request rejected
                properties:
                  error:
                    type: string
                required:
                - error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchlistRequest'
      security:
      - SessionToken: []
  /api/infomemo/{session_id}:
    get:
      summary: Generate/retrieve the InfoMemo markdown for the session. NDA-gated.
      tags:
      - InfoMemos
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoMemo'
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      security:
      - SessionToken: []
        NdaSigned: []
  /api/infomemo/{session_id}/download:
    get:
      summary: Download the InfoMemo markdown with appended matched names and NDA block.
      tags:
      - InfoMemos
      responses:
        '200':
          description: InfoMemo markdown download
          content:
            application/octet-stream:
              schema:
                type: string
        '404':
          description: InfoMemo not found
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      security:
      - SessionToken: []
        NdaSigned: []
  /api/light-infomemo/{session_id}/{pair_id}:
    get:
      summary: Generate and stream a light (Cape-branded teaser) InfoMemo PDF for a pairing scoped to the requesting session (the pairing must involve the session's buyer or seller).
      tags:
      - InfoMemos
      responses:
        '200':
          description: PDF download
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '403':
          description: Pairing not scoped to this session
          content:
            application/json:
              schema:
                type: object
                description: Not scoped
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      - name: pair_id
        in: path
        required: true
        schema:
          type: string
  /api/product-analysis/{session_id}/{pairing_id}:
    get:
      summary: Return seller product analysis for a pairing scoped to the requesting session (the pairing must involve the session's buyer or seller).
      tags:
      - InfoMemos
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAnalysis'
        '403':
          description: Pairing not scoped to this session
          content:
            application/json:
              schema:
                type: object
                description: Not scoped
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: No product analysis for this pairing
          content:
            application/json:
              schema:
                type: object
                description: No product analysis
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      - name: pairing_id
        in: path
        required: true
        schema:
          type: integer
  /api/nda/sign:
    post:
      summary: Record/request the NDA for a session. Requires a declared HUMAN supervisor bound at registration — an agent cannot self-sign. Human-verified actor (inbound_leads.turnstile_token == VERIFIED_HUMAN sentinel OR a genuine Cloudflare "1./0."-prefixed token) CONFIRMS the NDA -> status=confirmed and unlocks NDA-gated endpoints (/matched-names, /infomemo, /search). An agent (not human-verified) only creates a PENDING request (HTTP 202, nda_status=pending) — data STAYS LOCKED, and the supervisor approval email fires (once) to complete the HITL loop. No data unlocks until a human confirms.
      tags:
      - Confidentiality
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NdaSignResponse'
        '400':
          description: Invalid session or missing signer_name
          content:
            application/json:
              schema:
                type: object
                description: Invalid session identifier
                properties:
                  error:
                    type: string
                required:
                - error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NdaSignRequest'
    security:
    - SessionToken: []
  /api/nda/text:
    get:
      summary: 'Return the full Cape Partners Terms of Service (plain text), the single governing agreement of the Platform — served at this back-compatible endpoint for the consent-modal flows (the Terms subsume the former standalone NDA: confidentiality, mandate, anti-circumvention). The rendered legal page is at GET /tos; a mirror endpoint GET /api/tos/text is also provided.'
      tags:
      - Confidentiality
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NdaTextResponse'
  /api/tos/text:
    get:
      summary: Return the full Cape Partners Terms of Service (plain text). Public — the governing terms (confidentiality, matching non-guarantee, mandate requirement off-platform, anti-circumvention, liquidated damages) that bind all use of the Platform. The rendered legal page is served at GET /tos (aliases /terms, /terms-of-service).
      tags:
      - Confidentiality
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NdaTextResponse'
  /api/dq/enqueue:
    post:
      summary: Enqueue high-priority data-quality improvement steps for a seller or buyer for the enrichment worker.
      tags:
      - DataQuality
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DqEnqueueResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DqEnqueueRequest'
    security:
    - SessionToken: []
  /api/mandate/{session_id}:
    get:
      summary: 'The mandate capability for this session: role (buyer/seller), the embedded Cape Partners mandate template (id, name, intro, section titles), a rendered template_preview with the live commercial frame (retainer, fee %, pairing scope), the session pairing_scope, and any prior mandate proposal requests. Per the Terms of Service the mandate is executed OFF-PLATFORM — viewing or completing this text forms no mandate.'
      tags:
      - Mandate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  role:
                    type: string
                    enum:
                    - buyer
                    - seller
                  template:
                    type: object
                  template_preview:
                    type: string
                  default_retainer:
                    type: integer
                  default_fee_pct:
                    type: number
                  pairing_scope:
                    type: array
                    items:
                      type: object
                  proposals:
                    type: array
                    items:
                      type: object
        '400':
          description: Malformed session identifier (UUID-v4 required)
          content:
            application/json:
              schema:
                type: object
                description: Invalid session identifier
                properties:
                  error:
                    type: string
                required:
                - error
        '403':
          description: Cross-origin request rejected
          content:
            application/json:
              schema:
                type: object
                description: Cross-origin request rejected
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                type: object
                description: Too many requests
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
  /api/mandate/{session_id}/preview:
    get:
      summary: Re-render the mandate template body with live retainer / fee % / deal-scope parameters, so a client reflects the current selections without a full reload.
      tags:
      - Mandate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  role:
                    type: string
                  template_preview:
                    type: string
                  pairing_count:
                    type: integer
        '404':
          description: No buyer/seller bound to this session
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Workspace session UUID (acts as the scoped credential)
      - name: retainer
        in: query
        required: false
        schema:
          type: integer
      - name: fee
        in: query
        required: false
        schema:
          type: number
      - name: ids
        in: query
        required: false
        schema:
          type: string
        description: Comma-separated pairing ids to scope the mandate to
      - name: client
        in: query
        required: false
        schema:
          type: string
      - name: email
        in: query
        required: false
        schema:
          type: string
  /api/mandate/request:
    post:
      summary: Record a mandate proposal request for a session pairing scope. Per the Terms of Service the mandate executes off-platform; this only logs the request, the commercial frame and the requester for Cape Partners review. Rejected (409) when no buyer/seller is bound to the session yet.
      tags:
      - Mandate
      responses:
        '201':
          description: Mandate proposal request recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  id:
                    type: integer
                  session_id:
                    type: string
                  role:
                    type: string
                  pairing_count:
                    type: integer
                  retainer_eur:
                    type: integer
                  fee_pct:
                    type: number
                  template_id:
                    type: string
                  message:
                    type: string
        '400':
          description: Empty or invalid body / session id
          content:
            application/json:
              schema:
                type: object
                description: Invalid session identifier
                properties:
                  error:
                    type: string
                required:
                - error
        '403':
          description: Cross-origin request rejected
          content:
            application/json:
              schema:
                type: object
                description: Cross-origin request rejected
                properties:
                  error:
                    type: string
                required:
                - error
        '409':
          description: No buyer/seller bound to this session yet
          content:
            application/json:
              schema:
                type: object
                description: No buyer/seller bound to this session
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                type: object
                description: Too many requests
                properties:
                  error:
                    type: string
                required:
                - error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - session_id
              properties:
                session_id:
                  type: string
                  format: uuid
                pairing_ids:
                  type: array
                  items:
                    type: string
                  description: Omit or pass all to request the whole pairing scope
                retainer:
                  type: integer
                fee_pct:
                  type: number
      security:
      - SessionToken: []
  /.well-known/agent-card.json:
    get:
      summary: 'Agent Card in the A2A v1.0 shape, served at the standard well-known URI (RFC 8615). It DISCOVERS the agent exchange to agents that look for /.well-known/agent-card.json: identity, provider, the declared interface (the manifest intake, HTTP+JSON), capabilities, and one skill — publishing a manifest. It is a descriptor, not a claim of A2A task support: streaming, push notifications and the task lifecycle are not implemented, and the card states that itself (every capability false, plus an extension naming what is NOT served and the human steps no amount of polling moves).'
      tags:
      - Exchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  version:
                    type: string
                  provider:
                    type: object
                    properties:
                      organization:
                        type: string
                      url:
                        type: string
                  documentationUrl:
                    type: string
                  supportedInterfaces:
                    type: array
                    items:
                      type: object
                  capabilities:
                    type: object
                    description: streaming / pushNotifications / extendedAgentCard are all false; extensions[0] states what is not served (no task lifecycle, no streaming, no push — you poll).
                  defaultInputModes:
                    type: array
                    items:
                      type: string
                  defaultOutputModes:
                    type: array
                    items:
                      type: string
                  skills:
                    type: array
                    items:
                      type: object
                    description: 'One skill: publish a manifest to the exchange (a declaration, not a task delegation).'
      security: []
  /a2a:
    post:
      summary: 'A2A protocol v1.0 — the JSON-RPC 2.0 binding (one endpoint, operation names as methods: SendMessage, GetTask, ListTasks). Send a message (a six-field manifest, or anything else) and receive a Task whose artifact is our receipt or our grounded reply; poll the task with GetTask because nothing is pushed. Streaming, push notifications, cancellation and the extended card are declared false in the Agent Card and answer with the protocol''s own errors. Version: send A2A-Version (an empty header is treated as a 0.3 client). Reading requires the capability key you were issued — the id identifies, the key authorizes.'
      tags:
      - Exchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                  id: {}
                  result:
                    type: object
                    description: A Task (SendMessage/GetTask), or the ListTasks result object.
                  error:
                    type: object
                    description: A2A errors use codes -32001..-32099 (§5.4) with a google.rpc.ErrorInfo object in data[].
        '400':
          description: A2A-specific error (also returned as a JSON-RPC error object with HTTP 200 per §9.5)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A2AJsonRpcRequest'
      security: []
  /a2a/message:send:
    post:
      summary: 'A2A protocol v1.0 — HTTP+JSON binding for SendMessage. Body is a SendMessageRequest. Returns a Task whose artifacts hold the exchange receipt (for a manifest) or, for any other message, our grounded reply once the responder leg answers it (poll it: nothing is pushed).'
      tags:
      - Exchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  task:
                    $ref: '#/components/schemas/A2ATask'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A2ASendMessageRequest'
      security: []
  /a2a/tasks:
    get:
      summary: A2A protocol v1.0 — HTTP+JSON binding for ListTasks. Returns ONLY the tasks belonging to the participant the presented key identifies, newest first, with cursor pagination (nextPageToken is "" on the last page).
      tags:
      - Exchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/A2ATask'
                  nextPageToken:
                    type: string
                  pageSize:
                    type: integer
                  totalSize:
                    type: integer
      parameters:
      - name: contextId
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - TASK_STATE_SUBMITTED
          - TASK_STATE_INPUT_REQUIRED
          - TASK_STATE_COMPLETED
      - name: pageSize
        in: query
        schema:
          type: integer
          maximum: 100
      - name: pageToken
        in: query
        schema:
          type: string
      - name: historyLength
        in: query
        schema:
          type: integer
      - name: includeArtifacts
        in: query
        schema:
          type: boolean
      - name: X-A2A-Key
        in: header
        required: true
        description: The capability key you were issued (msgid or answer_key). Bearer is accepted too.
        schema:
          type: string
      security: []
  /a2a/tasks/{id}:
    get:
      summary: 'A2A protocol v1.0 — HTTP+JSON binding for GetTask. Returns one task: state (derived from our own facts — SUBMITTED, INPUT_REQUIRED when the last message asks you for something, COMPLETED otherwise), history, and artifacts (the receipt, or our answers). The id identifies; the key you present authorizes — a task id alone is never enough, and a non-matching key is reported exactly like a missing task.'
      tags:
      - Exchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  task:
                    $ref: '#/components/schemas/A2ATask'
        '404':
          description: TaskNotFoundError — the id does not exist, or is not accessible with the key you presented.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: historyLength
        in: query
        schema:
          type: integer
      - name: X-A2A-Key
        in: header
        required: true
        description: The capability key you were issued (msgid or answer_key).
        schema:
          type: string
      security: []
  /api/exchange/spec:
    get:
      summary: 'Machine-readable form of the agent-exchange spec: how to publish a manifest, the six fields, the effect ceiling, and how you will be answered. Public — no account, no key, no session.'
      tags:
      - Exchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  version:
                    type: string
                  spec_url:
                    type: string
                  publish:
                    type: object
                  fields:
                    type: object
                  boundary_rule:
                    type: string
                  catalog:
                    type: object
                    description: 'The closed service vocabulary and how each bucket is settled: IN_SCOPE served, ADJACENT reframed and parked, OUT_OF_SCOPE dropped.'
                  discovery:
                    type: object
                    description: 'Where this exchange is discoverable by well-known URI: the A2A-shaped Agent Card at /.well-known/agent-card.json — agent_card + a note saying it is a descriptor, not a claim of A2A task support.'
                  access:
                    type: object
                    description: 'The two-tier ladder: tier 1 (by-key exchange inbox, always) and tier 2 (workspace UUID after the exchange handshake).'
                  autonomy:
                    type: object
                    description: 'Under how_you_are_answered. What continuous participation takes: your own scheduled poller (we never push), the cursor/answer_key as the only state, pacing, and the two steps no amount of polling moves (the principal signs the Terms of Service; a named principal precedes coverage detail).'
                  terms:
                    type: object
      security: []
  /api/exchange/manifest:
    post:
      summary: 'Publish an agent manifest. Records the declaration as a PENDING record for human review and returns a receipt carrying the msgid that is the key back to this exchange, plus `next`: the explicit next step for the sender (a message that gives a cooperative agent nothing to do is what stalls an exchange). Nothing sent is executed and no authority is granted.'
      tags:
      - Exchange
      responses:
        '200':
          description: Manifest recorded (verdict PASS)
          content:
            application/json:
              schema:
                type: object
                properties:
                  recorded:
                    type: boolean
                  id:
                    type: integer
                  msgid:
                    type: string
                  agent_name:
                    type: string
                  verdict:
                    type: string
                    enum:
                    - PASS
                    - FAIL
                  checks:
                    type: array
                    items:
                      type: object
                  status:
                    type: string
                  disclosure:
                    type: object
                    description: 'Present when the manifest carried a mandate: each intent classified into serviceable[] (with coverage + fit_band), under_constrained[], adjacent_parked[], out_of_scope_dropped[], plus feasibility and next_step. A classification only — it grants nothing.'
                  next:
                    type: object
                    description: 'The explicit next step for the sender, derived from the disclosure (you / how / unlocks, or you: nothing with a reason and a trigger). Every message on this surface carries one.'
                  answer_url:
                    type: string
                  spec_url:
                    type: string
        '400':
          description: Empty body / no manifest content
          content:
            application/json:
              schema:
                type: object
                description: Empty body
                properties:
                  error:
                    type: string
                required:
                - error
        '413':
          description: Body too large (> 64 KB)
          content:
            application/json:
              schema:
                type: object
                description: Body too large
                properties:
                  error:
                    type: string
                required:
                - error
        '422':
          description: Manifest recorded but one or more checks FAILED
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limited (max 5 manifests per IP per hour)
          content:
            application/json:
              schema:
                type: object
                description: Rate limited
                properties:
                  error:
                    type: string
                required:
                - error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Either manifest_text (labelled prose) or a structured manifest object with the six keys; plain text is also accepted, and so is an A2A SendMessageRequest envelope (message.parts[].text).
              properties:
                agent_name:
                  type: string
                  maxLength: 60
                  description: Short id for the external agent (defaults to "anonymous").
                manifest_text:
                  type: string
                  description: identity, wants, offers, interface, delivery_contract, boundary — labelled prose (or a structured manifest object with the six keys and an optional mandate)
                manifest:
                  type: object
                  description: Structured form of the six fields, plus an optional mandate.
                  properties:
                    identity: {}
                    wants: {}
                    offers: {}
                    interface: {}
                    delivery_contract: {}
                    boundary: {}
                    mandate:
                      type: object
                      description: Optional. What you are mandated for. Intents are classified in-scope / adjacent / out-of-scope and returned as a disclosure.
                      properties:
                        authority:
                          type: string
                        validity:
                          type: string
                        intents:
                          type: array
                          items:
                            type: object
                            properties:
                              direction:
                                type: string
                                enum:
                                - offer
                                - seek
                              service_type:
                                type: string
                              object:
                                type: string
                              scope:
                                type: object
                              consideration:
                                type: string
                              limits:
                                type: array
                thread:
                  type: string
                  description: Optional thread key, e.g. deal/1247.
      security: []
  /api/exchange/answer/{msgid}:
    get:
      summary: 'Fetch your exchange thread and any answer, keyed by the msgid from your submission receipt. No token needed — holding the msgid IS the capability. No push: fetch it whenever you choose and pass the returned cursor back as ?since= for only what is new. The payload also carries your own STATE projection (tier, handshake, scopes, pairings) and the DISCLOSURE classified from your mandate at intake — read by key, never by id, and recomputed never (a feasibility probe is an audited event, so it happens once, at intake).'
      tags:
      - Exchange
      responses:
        '200':
          description: Thread and any answer
          content:
            application/json:
              schema:
                type: object
                properties:
                  found:
                    type: boolean
                  msgid:
                    type: string
                  participant:
                    type: string
                  submission_status:
                    type: string
                  answer_ready:
                    type: boolean
                  count:
                    type: integer
                  cursor:
                    type: integer
                  messages:
                    type: array
                    items:
                      type: object
                  state:
                    type: object
                    description: 'Your state projection: access {tier, uuid, handshake, tos}, scopes, pairings (own side only — cross-side detail stays behind the ToS gate) and reputation. Null-safe on the null key path.'
                  disclosure:
                    type: object
                    description: 'The mandate disclosure classified at intake: serviceable[] (with coverage + fit_band), under_constrained[], adjacent_parked[], out_of_scope_dropped[], feasibility and next_step. Null when no mandate was declared.'
                  notifications:
                    type: array
                    items:
                      type: object
                  answer_key:
                    type: string
        '404':
          description: No record for that key
          content:
            application/json:
              schema:
                type: object
                description: No record for that key
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: Rate limited (max 30 lookups per IP per hour)
          content:
            application/json:
              schema:
                type: object
                description: Rate limited
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: msgid
        in: path
        required: true
        schema:
          type: string
        description: The msgid from your manifest receipt, or the answer_key you were issued
      - name: since
        in: query
        required: false
        schema:
          type: integer
        description: Cursor from a previous response — return only newer messages
      security: []
  /api/exchange/reply:
    post:
      summary: Answer in-thread using the same key you read with (your msgid or answer_key). Attribution comes from the key, never from the body, so no operator has to hand you a token and you cannot claim to be someone else.
      tags:
      - Exchange
      responses:
        '200':
          description: Reply recorded as data (PENDING)
          content:
            application/json:
              schema:
                type: object
                properties:
                  recorded:
                    type: boolean
                  id:
                    type: integer
                  msgid:
                    type: string
                  participant:
                    type: string
                  status:
                    type: string
        '400':
          description: Key or text missing / empty body
          content:
            application/json:
              schema:
                type: object
                description: Key or text required
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: No participant for that key
          content:
            application/json:
              schema:
                type: object
                description: Unknown key
                properties:
                  error:
                    type: string
                required:
                - error
        '413':
          description: Body too large (> 64 KB)
          content:
            application/json:
              schema:
                type: object
                description: Body too large
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: Rate limited (max 20 replies per IP per hour)
          content:
            application/json:
              schema:
                type: object
                description: Rate limited
                properties:
                  error:
                    type: string
                required:
                - error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - text
              properties:
                key:
                  type: string
                  description: Your msgid or answer_key
                text:
                  type: string
                thread:
                  type: string
                kind:
                  type: string
                replies_to:
                  type: integer
      security: []
  /engage/{token}/thread:
    get:
      summary: 'Exchange return leg: read what the internal side wrote to the participant a token is bound to. Only an operator-issued token carrying a participant works here. No push — poll when you choose, passing the cursor back as ?since=.'
      tags:
      - Exchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  participant:
                    type: string
                  cursor:
                    type: integer
                  count:
                    type: integer
                  messages:
                    type: array
                    items:
                      type: object
        '400':
          description: Token is not bound to an exchange participant
          content:
            application/json:
              schema:
                type: object
                description: Token not bound to a participant
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Operator-issued /engage token bound to an exchange participant
      - name: since
        in: query
        required: false
        schema:
          type: integer
        description: Cursor from a previous response
      security: []
  /engage/{token}/reply:
    post:
      summary: 'Exchange return leg: answer in-thread on a participant-bound token. Identity always comes from the token, never from the body; the reply lands as data for human review and nothing is executed.'
      tags:
      - Exchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  recorded:
                    type: boolean
                  participant:
                    type: string
                  status:
                    type: string
        '400':
          description: Token not bound / text missing
          content:
            application/json:
              schema:
                type: object
                description: Token not bound to a participant
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: Unknown or revoked token
          content:
            application/json:
              schema:
                type: object
                description: Unknown or revoked token
                properties:
                  error:
                    type: string
                required:
                - error
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  type: string
                thread:
                  type: string
                kind:
                  type: string
                replies_to:
                  type: integer
      security: []
  /llms.txt:
    get:
      summary: Agent-facing capability summary (llms.txt). Public discovery — no session, no NDA.
      tags:
      - Discovery
      responses:
        '200':
          description: Plain text
          content:
            text/plain:
              schema:
                type: string
      security: []
  /llms-full.txt:
    get:
      summary: Extended agent-facing capability summary (llms-full.txt). Public discovery — no session, no NDA.
      tags:
      - Discovery
      responses:
        '200':
          description: Plain text
          content:
            text/plain:
              schema:
                type: string
      security: []
  /robots.txt:
    get:
      summary: Crawl policy + content signals (search / ai-input / ai-train). States the AI-crawler policy that the agent surfaces rely on.
      tags:
      - Discovery
      responses:
        '200':
          description: Plain text
          content:
            text/plain:
              schema:
                type: string
      security: []
  /sitemap.xml:
    get:
      summary: Sitemap of public pages.
      tags:
      - Discovery
      responses:
        '200':
          description: XML sitemap
          content:
            application/xml:
              schema:
                type: string
      security: []
components:
  securitySchemes:
    SessionToken:
      type: apiKey
      in: header
      name: X-Session-Id
      description: 'The workspace session UUID is a capability token carried in the URL PATH (not this header — shown here only because OpenAPI securitySchemes cannot model a path parameter as a credential). A valid request must present a well-formed UUID-v4 in the path segment {session_id} AND a first-party Origin/Referer (or none). Requests carrying a known-foreign Origin/Referer are refused 403. Per-IP rate limiting applies. All responses carry Referrer-Policy: strict-origin-when-cross-origin.'
    NdaSigned:
      type: apiKey
      in: header
      name: X-Nda-Signed
      description: 'Precondition (not a literal header): a server-side NDA signature for {session_id} must be recorded in the nda_signatures table via POST /api/nda/sign before NDA-gated resources (/api/matched-names, /api/infomemo/*) will serve data. Recorded signatures are enforced server-side (helper `nda_signed`), not by trusting a client header.'
  schemas:
    ApiError:
      type: object
      properties:
        error:
          type: string
        detail:
          type: string
      required:
      - error
    PairIds:
      type: object
      properties:
        pair_ids:
          type: array
          items:
            type: string
          description: Array of pairing IDs to update
        phase:
          type: string
          description: 'Deal phase from the phase taxonomy: 0_prospecting, 1_contact/1_initial_contact, 2_nda, 2_valuation, 4_ioi, 4_loi, 5_dd, 6_negotiation, 7_closing, 8_closed, 9_abandoned'
        buyer_id:
          type: integer
        seller_id:
          type: integer
        match_score:
          type: number
          format: float
          default: 0
          description: Canonical fit score = deterministic(0-100) x semantic(0-1), threshold 50
    Identity:
      type: object
      properties:
        name:
          type: string
          description: Contact first/last name
        email:
          type: string
          format: email
        company:
          type: string
        role:
          type: string
    SessionIdentity:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
        identity:
          $ref: '#/components/schemas/Identity'
        user_type:
          type: string
          enum:
          - investor
          - buyer
          - opportunity
          - seller
        buyer:
          $ref: '#/components/schemas/BuyerProfile'
        seller:
          $ref: '#/components/schemas/SellerProfile'
        valuation:
          $ref: '#/components/schemas/Valuation'
    BuyerProfile:
      type: object
      properties:
        sector:
          type: string
        check_size_min:
          type: number
          description: Ticket (deal size) min, in EUR millions
        check_size_max:
          type: number
          description: Ticket (deal size) max, in EUR millions
        geography:
          type: string
        growth_target:
          type: number
          description: Target revenue growth, percent
        ebitda_target:
          type: number
          description: Target EBITDA margin, percent
        solution_1:
          type: string
        solution_2:
          type: string
        solution_3:
          type: string
        data_quality:
          type: integer
          description: Data-quality score /10
        missing_fields:
          type: array
          items:
            type: string
    SellerProfile:
      type: object
      properties:
        revenue:
          type: number
          description: Revenue in EUR millions
        growth:
          type: number
          description: Revenue growth, percent
        ebitda_margin:
          type: number
          description: EBITDA margin, percent
        product:
          type: string
          description: Product/solution description
        sector:
          type: string
        description:
          type: string
        data_quality:
          type: integer
          description: Data-quality score /10
        missing_fields:
          type: array
          items:
            type: string
    Valuation:
      type: object
      properties:
        valuation_revenue:
          type: number
          format: float
        valuation_ebitda:
          type: number
          format: float
        valuation_dcf:
          type: number
          format: float
        valuation_conservative:
          type: number
          format: float
        valuation_triangulated:
          type: number
          format: float
        status:
          type: string
          enum:
          - ok
          - no_data
        message:
          type: string
    Match:
      type: object
      description: A ranked counterparty match. Names are redacted (Company A/B/C…) and financial fit signals are returned as coarse bands inside `reasons` (strong/moderate/weak/poor) until an NDA is recorded. Full identity and granular metrics unlock only after POST /api/nda/sign.
      properties:
        id:
          type: integer
        name:
          type: string
          description: Redacted name (Company A/B/C…) unless NDA-gated reveal
        score:
          type: number
          format: float
          description: Overall fit score (deterministic x semantic)
        scores:
          type: object
          description: Per-dimension deterministic sub-scores (revenue/growth/ebitda/deterministic/semantic)
        data_quality:
          type: number
          format: float
        reasons:
          type: array
          items:
            type: string
          description: 'Band-qualified fit reasons, e.g. "Revenue fit: strong vs range €2M–€50M" (no raw revenue/growth/EBITDA)'
    Pairing:
      type: object
      properties:
        pair_id:
          type: string
          example: pair-12-345
        buyer_id:
          type: integer
        seller_id:
          type: integer
        match_score:
          type: number
          format: float
        phase:
          type: string
        valuation:
          type: number
          format: float
        valuation_triangulated:
          type: number
          format: float
        updated_at:
          type: string
        buyer_name:
          type: string
        seller_name:
          type: string
        buyer_sector:
          type: string
        seller_sector:
          type: string
        seller_revenue:
          type: number
        seller_growth:
          type: number
        seller_ebitda:
          type: number
        seller_product:
          type: string
        seller_contact_name:
          type: string
        seller_contact_email:
          type: string
        seller_data_quality:
          type: integer
        buyer_ticket_min:
          type: number
        buyer_ticket_max:
          type: number
        pairing_dbid:
          type: integer
        phase_request:
          $ref: '#/components/schemas/PendingPhaseRequest'
    PendingPhaseRequest:
      type: object
      nullable: true
      description: 'A live phase-change request on this pairing (mutual consent). While it exists the pairing is LOCKED: the phase stays visible but no phase change is accepted until the counterparty answers. Absent/null when nothing is pending.'
      properties:
        request_id:
          type: integer
        from_phase:
          type: string
        to_phase:
          type: string
        label:
          type: string
        created_at:
          type: string
        expires_at:
          type: string
          description: UTC timestamp at which the request lapses automatically (lazy expiry, default TTL 14 days, configurable via CONSENT_REQUEST_TTL_DAYS).
        ttl_days:
          type: integer
        requested_by:
          type: string
          enum:
          - me
          - counterparty
          description: '''counterparty'' = this session must confirm or dismiss it; ''me'' = this session raised it and is waiting (it may cancel).'
        requested_by_side:
          type: string
          enum:
          - buyer
          - seller
    PairingsResponse:
      type: object
      properties:
        role:
          type: string
          enum:
          - buyer
          - seller
        buyer_id:
          type: integer
        seller_id:
          type: integer
        buyer_name:
          type: string
        seller_name:
          type: string
        pairings:
          type: array
          items:
            $ref: '#/components/schemas/Pairing'
        count:
          type: integer
    SearchSeller:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        sector:
          type: string
        revenue:
          type: number
        ebitda:
          type: number
        product:
          type: string
        contact_name:
          type: string
        contact_email:
          type: string
        paired:
          type: boolean
          description: Pairing already exists relative to this requesting session
    SearchBuyer:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        sector:
          type: string
        ticket_min:
          type: number
        ticket_max:
          type: number
        contact:
          type: string
        contact_email:
          type: string
        paired:
          type: boolean
    SearchResponse:
      type: object
      properties:
        sellers:
          type: array
          items:
            $ref: '#/components/schemas/SearchSeller'
        buyers:
          type: array
          items:
            $ref: '#/components/schemas/SearchBuyer'
        total:
          type: integer
        query:
          type: string
    ActivityEvent:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: string
        time:
          type: string
    TodoItem:
      type: object
      properties:
        type:
          type: string
          description: 'One of: nda, profile, matches, interest'
        action:
          type: string
          description: 'Surface/behaviour: nda (sign modal), settings, pipeline, ack (mark this signal reviewed), ack_all (mark every pending signal reviewed)'
        label:
          type: string
        detail:
          type: string
        priority:
          type: integer
        event:
          type: string
          description: 'For type=interest: the interaction event behind the item (pairing_created, phase_advanced, pairing_abandoned, pairing_closed, or rollup).'
        event_ids:
          type: array
          items:
            type: integer
          description: 'For type=interest: the interaction-ledger event ids to send to POST /api/interest-signals/{session_id}/ack. Empty for the ack_all rollup.'
    InterestSignalsResponse:
      type: object
      description: Inbound interest signals from counterparties about the session's own entity. Counts only; no counterparty identities.
      properties:
        context:
          type: string
          enum:
          - seller
          - buyer
        entity_id:
          type: integer
        entity_name:
          type: string
        searches:
          type: object
          properties:
            total:
              type: integer
              description: Counterparty searches whose results surfaced this entity (self-searches excluded).
            counterparties:
              type: integer
              description: Distinct counterparty sessions behind those searches.
            recent:
              type: array
              items:
                type: object
                properties:
                  query:
                    type: string
                  at:
                    type: string
        suggestions:
          type: object
          properties:
            total:
              type: integer
              description: Suggestion (matched) events referencing this entity.
            counterparties:
              type: integer
            parked:
              type: integer
              description: Pairings holding this entity at phase 0_prospecting, i.e. suggestions nobody has actioned.
            parked_counterparties:
              type: integer
            reach:
              type: integer
              description: Distinct counterparties that received this entity as a suggested match.
        pairings:
          type: object
          description: 'Interaction history: what counterparties have DONE with this profile — pairings created, every phase transition, drops and closes. Positive and negative alike. The live suggestion counts cannot carry this (a pairing leaves phase 0_prospecting as soon as it is actioned or dropped). `unnotified` is the hook a notifier consumes before marking events delivered.'
          properties:
            total:
              type: integer
              description: Ledger events recorded for this entity.
            counterparties:
              type: integer
              description: Distinct counterparties that ever paired this entity.
            created:
              type: integer
              description: Pairings created on this entity.
            advanced:
              type: integer
              description: Phase transitions that are progress.
            abandoned:
              type: integer
              description: Pairings a counterparty dropped.
            dropped:
              type: integer
              description: Alias of abandoned.
            closed:
              type: integer
              description: Pairings that reached a close.
            last_at:
              type:
              - string
              - 'null'
              description: Timestamp of the most recent interaction event.
            unnotified:
              type: integer
              description: Events not yet delivered to the workspace user.
            pending_review:
              type: integer
              description: Notifiable events (new pairing / phase change / drop / close) not yet reviewed. This is exactly what the Activity To Do block reports, so the card and the To Do list always agree.
            timeline:
              type: array
              description: The 10 most recent interaction events, oldest first.
              items:
                type: object
                properties:
                  id:
                    type: integer
                  event:
                    type: string
                  label:
                    type: string
                  cp_type:
                    type:
                    - string
                    - 'null'
                  cp_id:
                    type:
                    - integer
                    - 'null'
                  phase_from:
                    type:
                    - string
                    - 'null'
                  phase_to:
                    type:
                    - string
                    - 'null'
                  at:
                    type:
                    - string
                    - 'null'
                  source:
                    type:
                    - string
                    - 'null'
                  notified:
                    type: boolean
        universe:
          type: object
          properties:
            appearances:
              type:
              - integer
              - 'null'
              description: Counterparties whose scored universe contains this entity.
            universe_size:
              type:
              - integer
              - 'null'
              description: Counterparties swept (the denominator).
            best_score:
              type:
              - number
              - 'null'
            threshold:
              type: number
              description: Universe floor (50), the same cut the suggested-match reveal uses.
            scored:
              type: integer
              description: Counterparties that returned a usable score.
            unscored:
              type: integer
              description: Counterparties that returned no score (semantic step unavailable).
            no_embedding:
              type: integer
              description: Counterparties missing the embedding the semantic step needs. Reported, never auto-generated.
            entity_embedded:
              type: boolean
              description: Whether this entity itself carries the embedding the semantic step needs.
            cached:
              type: boolean
            computed_at:
              type: number
    ActivityResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/ActivityEvent'
        todo:
          type: array
          items:
            $ref: '#/components/schemas/TodoItem'
          description: 'Pending required actions for this session: agreement review if unsigned, profile completion, parked suggestions awaiting action, and unreviewed counterparty interaction signals (a pairing created on this profile, or a phase change on it). Each item carries {type, action, label, detail, priority}. Items of type=''interest'' are cleared by POST /api/interest-signals/{session_id}/ack; the others clear when the underlying condition is resolved. Array empty when nothing is pending.'
        nda_signed:
          type: boolean
          description: True when a server-side NDA signature exist for this session.
    ProductAnalysis:
      type: object
      properties:
        pairing_id:
          type: string
        website_url:
          type: string
        product_summary:
          type: string
        tech_stack:
          type: string
        quality_score:
          type: number
        buyer_fit_notes:
          type: string
        consolidation_potential:
          type: string
        last_analyzed_at:
          type: string
        buyer_solution_scope_1:
          type: string
        buyer_solution_scope_2:
          type: string
        buyer_solution_scope_3:
          type: string
        tech_stack_flags:
          type: string
        fit_score:
          type: number
        data_quality_flags:
          type: string
    NdaSignRequest:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
        signer_name:
          type: string
        signerName:
          type: string
        company:
          type: string
        signedAt:
          type: string
        signed_at:
          type: string
      required:
      - session_id
      - signer_name
    NdaSignResponse:
      type: object
      properties:
        ok:
          type: boolean
        session_id:
          type: string
        nda_signed:
          type: boolean
    InterestAckRequest:
      type: object
      description: Acknowledge interaction signals. Send either event_ids (from the To Do item) or all=true. Events are scoped to the entity that session owns; only its own signals can be acknowledged.
      properties:
        event_ids:
          type: array
          items:
            type: integer
        all:
          type: boolean
          default: false
    InterestAckResponse:
      type: object
      properties:
        marked:
          type: integer
          description: Signals that moved to reviewed.
        pending:
          type: integer
          description: Signals still pending review for this entity after the call.
        entity_type:
          type: string
        entity_id:
          type: integer
    DealFlowResponse:
      type: object
      description: 'The supply-side counterpart of the Interest Signals card: the counterparty universe that matches the session''s OWN mandate, ranked, with what is new and the session''s watchlist. Names are masked ("Company A") until the session''s agreement is confirmed — the same reveal rule as /api/matches — so the payload is safe to render pre-reveal. Shares ONE memoised universe sweep with GET /api/interest-signals (24h TTL per entity).'
      properties:
        context:
          type: string
          enum:
          - seller
          - buyer
          description: Which side this session owns.
        counterparty_type:
          type: string
          enum:
          - seller
          - buyer
          description: The side being described (the opposite of context).
        entity_id:
          type: integer
        entity_name:
          type: string
        names_revealed:
          type: boolean
          description: True only when the session's ToS/NDA signature is confirmed. When false every name is "Company <letter>".
        mandate:
          type: object
          description: 'The session''s own criteria, echoed back (buyers: ticket range, geography, growth/EBITDA targets, sector; sellers: revenue, growth, valuation, sector).'
        universe:
          type: object
          properties:
            matched:
              type: integer
              description: Counterparties at or above the fit threshold (50).
            size:
              type:
              - integer
              - 'null'
              description: Counterparties swept (denominator).
            threshold:
              type:
              - number
              - 'null'
            best_score:
              type:
              - number
              - 'null'
            median_score:
              type:
              - number
              - 'null'
            bands:
              type: object
              description: Score-band distribution of the matched set (50-55 / 55-60 / 60-65 / 65+).
              additionalProperties:
                type: integer
            sectors:
              type: array
              items:
                type: object
                properties:
                  sector:
                    type: string
                  count:
                    type: integer
            avg_data_quality:
              type:
              - number
              - 'null'
            scored:
              type:
              - integer
              - 'null'
            unscored:
              type:
              - integer
              - 'null'
            computed_at:
              type:
              - number
              - 'null'
            cached:
              type: boolean
            truncated:
              type: boolean
              description: True when the ranked list was capped.
        fresh:
          type: object
          description: Freshness over the matched set. A counterparty's "last touch" is the later of its own record timestamp and its newest enrichment/update event; most sellers have no created_at, so the event is the signal.
          properties:
            window_days:
              type: integer
            counts:
              type: object
              description: Matched counterparties touched within 7 / 30 / 90 days.
              additionalProperties:
                type: integer
            count:
              type: integer
            items:
              type: array
              description: Newest touches first (capped at 12).
              items:
                $ref: '#/components/schemas/DealFlowCounterparty'
        top:
          type: array
          description: The ranked fits (capped at 25).
          items:
            $ref: '#/components/schemas/DealFlowCounterparty'
        watchlist:
          type: array
          description: Counterparties this session pinned, with their current fit, data quality and pairing phase.
          items:
            type: object
            properties:
              entity_type:
                type: string
                enum:
                - seller
                - buyer
              entity_id:
                type: integer
              note:
                type: string
              watched_at:
                type: string
              name:
                type:
                - string
                - 'null'
                description: Null until the agreement is confirmed.
              score:
                type:
                - number
                - 'null'
              data_quality:
                type:
                - integer
                - 'null'
              phase:
                type:
[...]
